body {
  font-family: Gilam;
  color: #ffffff;
  background-color: #171717;
  height: 100%;
}

.container {
  max-width: 1095px;
  margin: auto;
}

.parallax1 {
  background-image: url(../images/header-bg.jpeg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
}

.contacts {
  color: #e4b564;
}

.call {
  border: 1px solid #e4b564;
  padding: 10px 25px;
}

header a {
  color: #e4b564;
  text-decoration: none;
  padding-right: 39px;
  font-size: 20px;
}

.telefon {
  color: #ffffff;
}

header button {
  background-color: #171717;
  color: #e4b564;
  border: solid 1px #e4b564;
  font-size: 18px;
  padding: 10px 25px;
}

.content {
  margin-top: 128px;
}

.seti {
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.about-content {
  margin-top: 41px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.grid {
  display: grid;
  margin-top: 21px;
  margin-bottom: 161px;
  row-gap: 34px;
  column-gap: 27px;
  grid-template-areas:
    "a a b b c c"
    "d d d e e e";
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 0 40px; */
}

.grid-item1 {
  grid-area: a;
  background-color: #634f2c;
  width: 350px;
  height: 468px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.grid-item2 {
  grid-area: b;
  background-color: #b4a385;
  width: 350px;
  height: 468px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.grid-item3 {
  grid-area: c;
  background-color: #e4b564;
  width: 350px;
  height: 468px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
}

.grid-item4 {
  grid-area: d;
  background-color: #635a4a;
  width: 535px;
  height: 468px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.grid-item5 {
  grid-area: e;
  background-color: #b08c4d;
  width: 535px;
  height: 468px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.park {
}

.grid2 {
  display: flex;
  flex-direction: row;
  margin-top: 83px;
  margin-bottom: 191px;
  /* max-width: 1461px; */
}

.element1,
.element2 {
  margin-right: 30px;
}

.grid2 div {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.grid div:last-child {
  margin-bottom: 0;
}

.grid2-item1 {
  width: 350px;
  height: 313px;
  background: #0e0e0e;
  padding-top: 44px;
  padding-left: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.grid2-item2 {
  width: 350px;
  height: 560px;
  background: #1f1f1f;
  padding-top: 44px;
  padding-left: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.grid2-item3 {
  width: 350px;
  height: 439px;
  background: #242424;
  padding-top: 44px;
  padding-left: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.grid2-item4 {
  width: 350px;
  height: 405px;
  background: #e4b564;
  color: #0a0909;
  padding-top: 44px;
  padding-left: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.grid2-item5 {
  width: 350px;
  height: 255px;
  background: #1f1f1f;
  padding-top: 44px;
  padding-left: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.grid2-item6 {
  width: 350px;
  height: 313px;
  background: #0e0e0e;
  padding-top: 44px;
  padding-left: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.grid2-item7 {
  width: 350px;
  height: 277px;
  background: #0a0909;
  padding-top: 44px;
  padding-left: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.grid2-span {
  font-weight: 700;
}

.our-projects {
  margin-bottom: 240px;
}

.projects-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.our-projects-button {
  border: 1px solid #e4b564;
  color: #e4b564;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  padding: 10px 39px;
  width: 180px;
  height: 50px;
  margin-top: 41px;
}

.our-projects h2 {
  margin-bottom: 50px;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid3 div {
  width: 100%;
  height: 391px;
}

.grid3 div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  flex-direction: column;
  text-align: center;
}

.grid3-item1 {
  background-color: #634f2c;
  background-image: url(../images/architecture-3108075_640.jpg);
}
.grid3-item2 {
  background-color: rgba(232, 210, 171, 0.76);
  background-image: url(../images/bathroom-1940171_640.jpg);
}
.grid3-item3 {
  background-color: #e4b564;
  background-image: url(../images/business-962355_640.jpg);
}
.grid3-item4 {
  background-color: #635a4a;
  background-image: url(../images/new-home-1540871_640.jpg);
}
.grid3-item5 {
  background-color: #b08c4d;
  background-image: url(../images/kitchen-1543493_640.jpg);
}
.grid3-item6 {
  background-color: #634f2c;
  background-image: url(../images/house-g88ee49b57_640.jpg);
}

.grid3 p {
  position: relative;
  bottom: -200px;
  transition: 0.3s;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.grid3 div:hover p {
  bottom: 0;
  margin-top: 120px;
}

.grid3 div {
  transition: 0.3s;
}

.grid3 div:hover {
  transform: scale(1.2);
}

.grid3 img {
  transition: 0.3s;
}

.parallax2 {
  background-image: url(../images/parallax-bg.jpeg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
